*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: black;
    border-bottom: 2px solid white;
    top: 0;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    align-items: center;
    height: 3rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header span{
    font-weight: 500;
    padding: 5%;
}

.header nav{
    margin-right: 10%;
}

.header a{
    text-decoration: none;
    color: white;
    padding: 10%;
}
